# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

react-link-text-*.tgz
react-link-text.cjs
react-link-text.cjs.map
react-link-text.modern.js
react-link-text.modern.js.map
react-link-text.module.js
react-link-text.module.js.map
react-link-text.umd.js
react-link-text.umd.js.map
legacy/
