# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

react-linkify-it-*.tgz
react-linkify-it.cjs
react-linkify-it.cjs.map
react-linkify-it.modern.js
react-linkify-it.modern.js.map
react-linkify-it.module.js
react-linkify-it.module.js.map
react-linkify-it.umd.js
react-linkify-it.umd.js.map
legacy/
